services:
  # Web Service
  - type: web
    name: cork-photographers
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: fyp-database
          property: connectionString
      - key: MAIL_SERVER
        value: smtp.gmail.com
      - key: MAIL_PORT
        value: 587
      - key: MAIL_USE_TLS
        value: true
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_DEFAULT_SENDER
        sync: false
      - key: GOOGLE_MAPS_API_KEY
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: EMAIL_CONFIRM_SALT
        generateValue: true
      - key: PREFERRED_URL_SCHEME
        value: https

databases:
  - name: fyp-database
    databaseName: fyp_database
    plan: free
    user: postgres